body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

.coupon {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.coupon h2 {
    font-size: 24px;
    margin: 10px 0;
}

.coupon p {
    font-size: 16px;
}

.discount1 {
    display: block;
    background-color: red;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}
.discount2{
    display: block;
    background-color: purple;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}
.discount3{
    display: block;
    background-color: orange;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;

}
.hi{
    color: #f00;
}
.ji{
    color: purple;
}
.fi{
    color: orange;
}
.b
{
    background-color: rgb(180, 37, 64);
}